body{
}
form{
	margin-bottom: 40px;
}
.badge{
	color: #f80
}
table{
	font-size: 16px;
}
th{
	font-weight: 100;
}
input{
	max-width: 120px;
}
.table td, .table th{
	border: none;
}
tr{
	border-bottom: 1px solid #fff;
}
.navbar-nav{
	flex-direction: row;
}
.navbar-inverse{
	background: #ff9ee1;
	box-shadow: 0 5px 0 0 #003128
}
.navbar .navbar-nav > li > a {
	color: #333;
}
.navbar-header > a {
	color: #222;
}
.navbar-header > a:hover {
	color: #444;
}
.navbar-nav .dropdown-menu {
	position: absolute;
	min-width: 220px;
	padding-bottom: 10px !important;
	z-index: 10000;
}
.card-header{
	text-align: left;
	padding: 2px 10px;
}
h5 > .btn{
	padding: 2px 10px;
}
.header-box{
	width:100%; 
	text-align:center; 
	background-image: url("../Pictures/header.svg");
	background-size: 100%;
	padding:20px 0 76px 0;
	color:#fff;
}
.simulations{
	width: 100%; 
	margin-top:20px;
}
.main-title, .sub-title{
	font-family: 'Aladin', cursive;
}
.btn-success{
	border:none;
	background-color: #52141a;
}
.btn-success:hover{
	background-color: #6f1922
}
.container{
	font-size: 22px;
	color: #fff;
	margin-top: 20px;
	padding-top: 50px;
	padding-bottom: 50px; 
}

a:hover{
	color:#032b57;
}
a > li > .badge{
	color: #f80;
}
ol > a{
	color: #fff
}
li >.white{
	color: #fff
}
li >.white:hover{
	color: #aaa
}
ul > li{
	padding-left: 15px;
}
ol > li:hover{
	background-color: transparent;
}
.footer{
	margin-top: 10px;
	width: 100%;
	height: auto;
	background-color:#7d3e70;
	color:#fff;
	font-family: 'Aladin', cursive;
	box-shadow: 0 -15px 0 0 #c36eb2, 0px -17px 12px rgba(0,0,0,0.48);
}
.list-group-item.active {
    z-index: 2;
    border-radius: 6px;
    background: #179237;
	color: #fff;
	margin: 20px 0 0 0;
	box-shadow: 0px -14px 0px -4px #094418 inset;
    font-family: 'Aladin', cursive;
}
a > .list-group-item.active {
    z-index: 2;
    color: #fff;
    border-radius: 50px;
    background: #331423;
	border-color: #fff;
	margin: 20px 0;
	box-shadow: 0px -14px 0px -4px #6b2848 inset;
    font-family: 'Aladin', cursive;
}
p {
	color: #222;
}
.list-group-item {
	border: none;
	background-color: transparent;
}

.hidden{
	display: none;
}
.canvas {
	position:absolute;
	left:5px;
	top:25px;
	z-index:6;
	pointer-events: none;
}
.card-body{
	color: #444;
}
.display {
   font-family: JuneBug;
   color: #222;
   font-size: 15pt;
   display: none;
   position:absolute;
   top:247px;
   z-index:5
}
.display-small {
   font-size: 8pt;
   top:232px;
}
.dot {
	background-color: rgba(55,200,0,0.66);
	display: block;
	width: 12px; 
	height: 12px; 
	position: absolute; 
	z-index: 4;
}
.indicator{
	position: absolute;
	z-index: 5; 
	display: none; 
	width:5px; 
	height: 5px; 
	border-radius: 
	13px; 
	background-color:#ff0000;
}
.probe{
	width:12px;
	height:auto;
	z-index:6;
	cursor: pointer;
	position:absolute;
}
.resistor{
	width:41px;
	height:auto;
	z-index:7; 
	cursor: pointer;
	position:absolute;
}
.btn-link{
	color: #444;
}
.table-tegangan > tbody > tr > td > input{
	width: 90px
}